<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link <% if (title === 'Главная') { %>nav__link-selected<% } %> " href="/api/advertisements" title="Главная">Объявления</a>
    </li>
    <li class="nav__item">
      <a class="nav__link <% if (title === 'Библиотека') { %>nav__link-selected<% } %>" href="/api/signin" title="Библиотека">Пользователи</a>
    </li>
    <li class="nav__item">
      <a class="nav__link <% if (title === 'Контакты') { %>nav__link-selected<% } %>" href="/api/chat" title="Контакты">Общение</a>
    </li>
  </ul>
</nav>