* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
:root {
    --color-blueLight: lightblue;
    --color-blueLightBGC: rgb(112, 200, 230);
    --color-blueMiddle: rgb(6, 6, 248);
    --color-blueDark: rgb(1, 40, 146);
    --color-magentaDark: darkmagenta;
    --color-yellowLight: lightyellow;
    --color-yellowDark: rgb(182, 182, 2);}
html {
    background-color: var(--color-blueLight);
    color: var(--color-blueDark);
    overflow-y: scroll;
font-size: 16px;}

/* GENERAL */
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;}
h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;}
.bold {
    font-weight: 700;}
.center {
    text-align: center;}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;}
.errorMessage {
    color: red;}
.successMessage {
    color: green;}
.padding10 {
    padding: 10px;}
.margin10 {
    margin: 10px;
}

/* HEADER */
.header {
    background-color: var(--color-blueDark);
    border-bottom: 3px solid var(--color-magentaDark);}
.headerCont {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 20px;}
.nav {
    flex: 1;}
.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 10px 0;
    font-size: 25px;
    text-transform: uppercase;}
.nav__link {
    color: var(--color-yellowDark);
    text-decoration: none;

    &:hover {
        color: var(--color-yellowLight);
    }}
.nav__link-selected {
    text-decoration: underline;}
.userName {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    right: 0;
    top: calc(50% - 8px);
    color: var(--color-blueLight);
    text-decoration: none;
}

/* BODY */
.pageCont {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 700px;}
.main {
    padding: 20px;}
.item__cont {
    margin: 0 auto;
    border-radius: 10px;
    width: 800px;
    padding: 5px 30px;
    border: 1px solid var(--color-blueDark);}
.item__cont:not(:last-child) {
    margin-bottom: 20px;}
.item__info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;}
.item__images-cont {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;}
.item__images-cont img {
    height: 100px;}
.item__desc {
    width: 500px;
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
    font-size: 18px;}
.item__date {
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding: 2px;}
.item__author {
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding: 2px;}
.item__more {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 16px;
    padding: 2px;
    color: var(--color-blueDark);

    &:hover {
        color: var(--color-blueMiddle);
    }}
.item__editCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;}
.userAuthForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 400px;
    border: 1px solid var(--color-blueDark);
    padding: 15px;
    margin: 0 auto 20px;}
.input {
    font-size: 18px;
    padding: 5px;
    color: var(--color-blueDark);
    border: 0;
    outline: 1px solid var(--color-blueDark);
    width: 100%;}
.btn {
    border: 2px solid var(--color-blueDark);
    border-radius: 10px;
    background-color: var(--color-blueLight);
    color: var(--color-blueDark);
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px auto 0;
    cursor: pointer;

    &:hover {
        background-color: var(--color-blueMiddle);
        color: var(--color-blueLight);
    }}

.mainCont {
    margin: 0 auto;
    text-align: center;
}

.table {
    margin: 0 auto;
    width: 80%;
}

.table__row {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--color-blueDark);
    padding: 10px 10px;
    align-items: center;
}

.table__row:last-child {
    border-bottom: 1px solid var(--color-blueDark);
}

.table__row p {
    text-align: right;
    padding: 0 15px;
}

.table__row p:nth-child(2n) {
    text-align: left;
    padding: 0 15px;
}

.addBtnCont {
    text-align: right;
    margin-bottom: 20px;
}

.btnLink {
    display: inline-block;
    background-color: var(--color-blueLightBGC);
    color: var(--color-blueDark);
    border: 1px solid var(--color-blueDark);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-blueMiddle);
        color: var(--color-blueLight);
    }
}





.table__headerText {
    font-weight: bold;
    font-size: 18px;
}

.table__mainText {
    font-size: 16px;
}

.icon {
    width: 30px;
}

.table__form {
    display: inline;
}

.submit_btn {
    border: 0;
    background-image: url('/img/del.jpg');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.card {
    margin: 0 auto;
    width: 80%;
    border: 1px solid var(--color-bg-darkgreen);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.card__row {
    padding: 10px;
    font-size: 18px;
}

.back a {
    color: var(--color-bg-darkgreen);
    text-decoration: none;
}

.addForm {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 1px solid var(--color-bg-darkgreen);
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.addForm a {
    color: var(--color-bg-darkgreen);
}

.addBtn {
    display: inline-block;
    border: 2px solid var(--color-bg-darkgreen);
    border-radius: 10px;
    background-color: var(--color-bg-lightgreen);
    color: var(--color-bg-darkgreen);
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
        background-color: lightgreen;
    }
}

label {
    cursor: pointer;
    font-size: 18px;
}

.form__input {
    font-size: 16px;
    padding: 5px;
    color: var(--color-bg-darkgreen);
    border: 0;
    outline: 1px solid var(--color-bg-darkgreen);
    width: 100%;
}

.form__input[type="checkbox"] {
    outline: 0;
}

.addFormSubmitBtn {
    display: block;
    border: 2px solid var(--color-bg-darkgreen);
    border-radius: 10px;
    background-color: var(--color-bg-lightgreen);
    color: var(--color-bg-darkgreen);
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    grid-column: span 2;
    margin: 10px auto 0;

    &:hover {
        background-color: lightgreen;
    }
}

.meBlock {
    margin: 0 auto;
    width: 80%;
    padding: 5px;
    text-align: center;
}

.meBlock a {
    color: var(--color-bg-darkgreen);
    text-decoration: none;
}

.bordered {
    border: 1px solid var(--color-bg-darkgreen);
}

.userTable {
    width: 100%;
}

.userTable td {
    text-align: right;
    padding: 3px;
    font-size: 16px;
}

.userTable td:nth-child(even) {
    text-align: left;
    width: 80%;
}



.commnentsCont {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background-color: var(--color-bg-lightgreen);
}

.chatCont {
    padding: 10px;
    font-size: 14px;
    color: var(--color-bg-darkgreen);
    background-color: rgb(219, 253, 219);
}

.sendCont {
    display: flex;
    padding: 2px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.msgInp {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    color: var(--color-bg-darkgreen);
    height: 50px;
    resize: vertical;
}

.msgSendBtn {
    width: 100%;
    background-color: var(--color-bg-darkgreen);
    color: var(--color-bg-lightgreen);
    cursor: pointer;
    padding: 2px;

    &:hover {
        background-color: rgb(13, 100, 13);
    }
}

.msgCont {
    width: 90%;
    padding: 5px;
    border: 1px solid var(--color-bg-darkgreen);
    font-size: 14px;
    margin: 5px 0;
    border-radius: 10px;
}

.msgCont:nth-child(even) {
    background-color: var(--color-bg-lightgreen);
}

.msgText {
    text-align: left;
    margin-bottom: 5px;
    padding: 2px;
    border-bottom: 1px solid var(--color-bg-darkgreen);
}

.msgAuth {
    text-align: right;
    padding: 2px;
}

.usernameInp {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    color: var(--color-bg-darkgreen);
}


/* FOOTER */
.footer {
    background-color: var(--color-blueDark);
    border-top: 3px solid var(--color-magentaDark);
    color: var(--color-blueLight);
    text-align: center;
    padding: 15px 0;}
.footer__cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;}