<%- include('../page/page_header.ejs', {title: title}) %>

<main class="main">
  <div class="container">
    <h1>Ошибка 404 | Страница по такому адресу не найдена.</h1>
  </div>
</main>

<%- include('../page/page_footer.ejs') %>