<div class="item__cont">
  <div class="item__info-cont">
    <h2 class="item__header">shortText</h2>
    <div class="item__images-cont">Картинко</div>
    <p class="item__desc">description description description description</p>
    <div class="item__date">Создано: createdAt</div>
    <div class="item__author">Автор: user.name</div>
    <% if (locals.user) { %>
    <div class="item__editCont">
      <a href="/api/advertisements/ID" title="Редактировать объявление">Редактировать объявление</a> 
      <a href="/api/advertisements/ID" title="Удалить объявление">Удалить объявление</a>
      <a href="/api/advertisements/ID" title="Удалить объявление">Добавить объявление</a>
    </div>
    <% } %>
  </div>
</div>


<%
/*
  Название	Тип	Обязательное	Уникальное
  shortText	string	да	нет
  description	string	нет	нет
  images	string[]	нет	нет
  userId	ObjectId	да	нет
  createdAt	Date	да	нет
  updatedAt	Date	да	нет
  tags	string[]	нет	нет
  isDeleted	boolean	да	нет
*/
%>
