<%- include('../page/page_header.ejs', {title: title}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    <%- include('./item.ejs') %>
  </main>
</div>

<%- include('../page/page_footer.ejs') %>