<%- include('../page/page_header.ejs', {title: title, adv: adv, users: users}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    
  </main>
</div>

<%- include('../page/page_footer.ejs') %>