<%- include('../page/page_header.ejs', {title: title, user: user}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    Аккаунт
    <div>
      <a href="/api/logout" title="Выйти из кабинета">Выйти из кабинета</a>
    </div>
  </main>
</div>

<%- include('../page/page_footer.ejs') %>