<%- include('../page/page_header.ejs', {title: title}) %>

<div class="pageCont">
  <main class="main">
    <h1><%= title %></h1>
    Аккаунт
  </main>
</div>

<%- include('../page/page_footer.ejs') %>